@model IEnumerable<csprjclib.ViewModels.MonitoredFileViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Monitored Files</h1>

<p>
    <a asp-action="Create">Create New Monitor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.DelayName)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.MonitorProperties)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.MonitorJustHash)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.DelayName)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.MonitorProperties)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.MonitorJustHash)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
